:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-font-color: rgb(71, 59, 59);
}
  
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.SpecialsBG {
  width: 100%;
  display: grid;
  place-items: center;
}

.SpecialsPicture {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

.SpecialsLogo {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 800;
  color: rgb(216, 216, 216);
  font-family: 'Apple Chancery', cursive;
  width:16ch;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.SpecialsTitle-1 {
  display: flex;
  justify-content: center;
}

.SpecialsTitle-2 {
  font-weight: 600;
  color: var(--main-font-color);
  font-size: 45px;
  padding-top: 25px;
}