:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-font-color: rgb(71, 59, 59);
}
  
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}