:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --main-font-color: rgb(71, 59, 59);
    --secondary-font-color: #262626;
  }
      
* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  
    /* WARNING NO SCROLL*/
body {
    overflow: hidden;
}
  
.LoginBG {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(CoffeeSteamingBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0.45;
    z-index: 1;
}

.SignPage1 {
    z-index: 2;
    display: flex;
    height: 92.3vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
  
.SignPage2 {
    z-index: 2;
    height: 70vh;
    width: 20vw;
    background-color: whitesmoke;
    opacity: 1;
    color: var(--secondary-font-color);
    border-radius: 10px;
    box-shadow: 0 0 5px 6px rgb(146, 146, 146);
}
  
.SignPage2 h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px
}

.SignUsername {
    padding-top: 35px;
  }
  
  .SignPassword, .SignEmail {
    padding-top: 20px;
  }
  
  .SignUsername, .SignPassword, .SignEmail {
    width: 15vw;
    margin: auto;
    border-bottom: 2px solid rgb(209, 209, 209);
    padding-bottom: 10px;
  }
  
  .SignUsernameCred, .SignPasswordCred, .SignEmailCred {
    margin-top: 10px;
    margin-left: 5px
  }
  
  input[name='username'], input[name='password'], input[name='email'], textarea {
    font-size: 17px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    width: 13vw;
  }

  .textDanger {
    color: red;
  }
  
  .SignSubmit {
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }
  
  .SignSubmit input {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(to right, var(--secondary-font-color) , #4C2E05);
    border: none;
    outline: none;
    border-radius: 45px;
    height: 45px;
    width: 25vh;
    letter-spacing: 2px;
  }
  
  .SignSubmit input:hover {
    transition: 0.5s;
    background-image: linear-gradient(to left, var(--secondary-font-color) , #4C2E05);
  }

  .Signor {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .BackToLogin {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 18px;
  }

  .BTL {
    color: inherit
  }

  .BTL:hover {
    color: var(--main-font-color);
    transition: 0.5s;
  }